body {
    background: lightcoral;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    
}

h3 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

p {
    font-size:25px;
    text-align: center;
    font-weight: 500;
}

ul {
   text-align: center;
   list-style-position: inside;
   font-size: 25px;
}

#contactme {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    word-spacing: 15px;
}

#contactme a:visited {
    color:cornsilk;
}

#contactme a:link {
    color:blue;
}

#coding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#lang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
