body {
    background: lightcoral;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

#contactme {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    word-spacing: 15px;
}

#contactme a:visited {
    color:cornsilk;
}

#contactme a:link {
    color:blue;
}